
<div class='root'>
  <div>Enter Name: <input [(ngModel)]='emp.name'/></div>
<h3>Employee Id: {{emp.empId}}</h3>

<h3  [style.color]='color'>Name: {{emp.name}}</h3>


<div>
<p>First Number <input  type='number' [(ngModel)]='num1'   (change)='add()'/></p>
<p>Second Number <input type='number' [(ngModel)]='num2'   (change)='add()'></p>

<button (click)='add()'>Add</button>
<button (click)='subtract()'>Subtract</button>

<p> Result: {{result}} </p>

<button (click)='changeImage()'>Change to {{animal}}</button>
<img [src]='imageName'/>
</div>

</div>