<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    ">
    	<bean name="user" class="ramana.User">
		<property name="name" value="Siddarth" />
		<property name="age" value="24" />
		<property name="country" value="India" />
		<property name='details' ref='dutyData'/>
	</bean>
	<bean id='dutyData'  class='duty.DutyDetails'>
	<property name="from" value="10.5" />
		<property name="to" value="15.2" />
		<property name="amount" value="300" />
	</bean>
    
    
    </beans>