<div class="container">
  <div class="col-lg-6 tablediv">
    <h3 style="text-align: center">Employee List</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>EMP ID</th>
          <th>NAME</th>
          <th>SALARY</th>
          <th>GENDER</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of employees; let i = index">
          <td>{{ e.empId }}</td>
          <td>{{ e.name }}</td>
          <td>{{ e.salary }}</td>
          <td [ngSwitch]='e.gender'>
            <span *ngSwitchCase="'M'">Male</span>
            <span *ngSwitchCase="'F'">Female</span>
            <span *ngSwitchDefault>Unknown</span>
          </td>
          <td>
            <button class="btn btn-danger" (click)="delete(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="message != null"  class="alert alert-danger"   (click)="message = null" >
      {{ message }}
    </p>
  </div>

</div>
