<div class='top'>
<form [formGroup]="userForm"  (submit)='onSubmit()'>

    <label for="first-name">First Name: </label>
    <input id="first-name" class='form-control' type="text" formControlName="firstName">

    <label for="last-name">Last Name: </label>
    <input id="last-name" class='form-control' type="text" formControlName="lastName">

    <div formGroupName='address'>
        <h2>Address</h2>

        <label for="street">Street: </label>
        <input id="street" class='form-control' type="text" formControlName="street">

        <label for="city">City: </label>
        <input id="city" class='form-control' type="text" formControlName="city">

        <label for="state">State: </label>
        <input id="state" class='form-control' type="text" formControlName="state">

        <label for="zip">Zip Code: </label>
        <input id="zip" class='form-control' type="number" formControlName="zip">
    </div>

    <button type="submit" class='btn btn-primary' [disabled]="!userForm.valid">Submit</button>
</form>
</div>
<div>{{userForm.value|json}}</div>