<div  class='container'>
  <div class="listdiv">
    <h3 style="text-align: center">Employee List</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>EMP ID</th>
          <th>NAME</th>
          <th>SALARY</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of employees">
          <td>{{ e.empid }}</td>
          <td>{{ e.name }}</td>
          <td>{{ e.salary}}</td>
          <td class='btn-group'>
            <button class="btn btn-outline-info mr-2" (click)="update(e.empid)"  [disabled]='creating||updating'>Modify</button>
            <button class="btn btn-outline-danger" (click)="delete(e.empid)"  [disabled]='creating||updating'>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="message" class="alert alert-danger"  (click)="message = null" >
      {{ message }}
    </p>
    <button class='btn btn-info btn-block' (click)='createNew()'>Create New Employee</button>
    <p *ngIf="errorMessage" class="alert alert-danger"  (click)="errorMessage = null" >
      {{errorMessage}}
    </p>
  </div>
  <div class="updatediv"  *ngIf='updating'>
    <emp-update  [empid]='empid' (close)='updateCompleted($event)' ></emp-update>
  </div>

  <div class="updatediv" *ngIf='creating' >
    <emp-create   (close)='saveNewEmp($event)'></emp-create>
  </div>


</div>

