<p style="text-align: center">Create New Employee Data</p>

<form #empForm="ngForm" (submit)="saveData(empForm.value)">
  Emp Id:
  <input class="form-control" ngModel  name='empid' #tempId='ngModel' required pattern='[1-9][0-9]{2}'/>
<div   *ngIf='  tempId.touched && tempId.invalid'>
    <div *ngIf='tempId.errors.required' class='alert alert-danger'>
        Employee Id is required
    </div>
    <div *ngIf='tempId.errors.pattern' class='alert alert-danger'>
        Employee Id should be 3 numeric digits(first digt non-zero)
    </div>
</div>
  Name:
  <input class="form-control" ngModel name='name'  #tname='ngModel'  required minlength='5'/>

  Salary:
  <input type='number' class="form-control" ngModel  name='salary' #tsalary='ngModel' required min='10000' />
  <div   *ngIf='tsalary.touched && tsalary.invalid'>
    <div *ngIf='tsalary.errors.required' class='alert alert-danger'>
        Salary field cannot be empty
    </div>
    <div *ngIf='tsalary.errors.minlength' class='alert alert-danger'>
        Salary should be minimum 10000
    </div>
</div>
 
  <div>
    <button class="btn btn-primary btn-block" type="submit"  [disabled]='empForm.invalid'>Save</button>
    <button class="btn btn-danger btn-block" (click)="cancel()">Cancel</button>
  </div>
</form>
  <p *ngIf="message" class="alert alert-danger"  (click)="message = null" >
    {{ message }}
  </p>
  
<div *ngIf='validationMessages'  (click)="validationMessages=null">
  <p *ngFor="let message of validationMessages">{{message}}</p>
</div>

