<div class="'container m-5">
  <div *ngIf="message == ''">
    <h5 class="text-center">Employe Details</h5>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td>Employee Id</td>
          <td>{{ emp.empId }}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{ emp.name | titlecase }}</td>
        </tr>
        <tr>
          <td>Salary</td>
          <td>{{ emp.salary | number: "1.2-2" }}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td [ngSwitch]="emp.gender">
            <span *ngSwitchCase="'M'">Male</span>
            <span *ngSwitchCase="'F'">Female</span>
            <span *ngSwitchDefault>Invalid</span>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center">
            <button class="badge bg-danger" (click)="deleteEmp()">
              Delete
          </button>
            <button class="badge bg-success"  [routerLink]="['/empupdate',emp.empId]">Modify</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="message != ''" class="'alert alert-danger">{{ message }}</div>
</div>
