<div  class='container'>
  
    <h3 style="text-align: center">Employee List</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>EMP ID</th>
          <th>NAME</th>
          <th>SALARY</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of employees">
          <td>{{ e.empid }}</td>
          <td>{{ e.name }}</td>
          <td>{{ e.salary}}</td>
          <td class='btn-group'>
            <a [routerLink]="['/update',e.empid]" class='btn btn-outline-primary mr-2'>Update</a>
            <button class="btn btn-outline-danger" (click)="delete(e.empid)" >Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="message" class="alert alert-danger"  (click)="message = null" >
      {{ message }}
    </p>
 
  </div>
  

